.scoreboard {
    /* display: flex; */
    /* justify-content: space-around;
    align-items: center;
    width: 100%; */
    background-color: #333;
    padding: 14px;
    border-radius: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 1.15em;
    margin-bottom: 4px;
}

.score {
    display: flex;
}

.digit {
    position: relative;
    width: 40px;
    height: 80px;
    margin: 0 5px;
}

.segment {
    position: absolute;
    background-color: #444;
    /* border-radius: 2px; */
    transition: background-color 0.2s;
}

.segment.on {
    background-color: yellow;
}

.segment-0 {
    top: 0;
    left: 5px;
    /* right: 0px; */
    height: 7px;
    width: 32px;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}

.segment-1 {
    top: 4px;
    right: 0px;
    width: 7px;
    height: 32px;
    clip-path: polygon(0% 20%,100% 0%,100% 100%,0% 80%);
}

.segment-2 {
    bottom: 6px;
    right: 0;
    width: 7px;
    height: 32px;
    clip-path: polygon(0% 20%,100% 0%,100% 100%,0% 80%);
}

.segment-3 {
    bottom: -1px;
    left: 4px;
    /* right: 0px; */
    width: 32px;
    height: 7px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.segment-4 {
    bottom: 6px;
    left: 0;
    width: 7px;
    height: 32px;
    clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
}

.segment-5 {
    top: 4px;
    left: 0px;
    width: 7px;
    height: 32px;
    clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
}

.segment-6 {
    top: 37px;
    left: 5px;
    width: 32px;
    height: 7px;
    clip-path: polygon(0% 50%, 20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%);
}