.scoreboard {
    background-color: #333;
    padding: 11px;
    border-radius: 10px;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 1.15em;
    margin-bottom: 1px;
}

.score {
    display: flex;
    width: auto;
}


.digit {
    position: relative;
    width: 36px;
    height: 65px;
}

.segment {
    position: absolute;
    background-color: #444;
    transition: background-color 0.2s;
}

.segment.on {
    background-color: yellow;
}

.segment-0 {
    top: 0;
    left: 4.5px;
    height: 5px;
    width: 28px;
    clip-path: polygon(0% 0%, 100% 0%, 78% 100%, 22% 100%);
    /*clip-path: (top-left, top-right, bottom-right, bottom-left)*/
}

.segment-1 {
    top: 1px;
    right: 2.99px;
    width: 5px;
    height: 28px;
    clip-path: polygon(0% 22%, 100% 0%, 100% 100%, 0% 78%);    
    /*clip-path: (top-left, top-right, bottom-right, bottom-left)*/
}

.segment-2 {
    top: 31px;
    right: 2.99px;
    width: 5px;
    height: 28px;
    clip-path: polygon(0% 22%, 100% 0%, 100% 100%, 0% 78%);
}

.segment-3 {
    bottom: 5px;
    left: 4.5px;
    width: 28px;
    height: 5px;
    clip-path: polygon(22% 0%, 78% 0%, 100% 100%, 0% 100%);
}

.segment-4 {
    top: 31px;
    left: 4px;
    width: 5px;
    height: 28px;
    clip-path: polygon(0% 0%, 100% 22%, 100% 78%, 0% 100%);
}

.segment-5 {
    top: 1px;
    left: 4px;
    width: 5px;
    height: 28px;
    clip-path: polygon(0% 0%, 100% 22%, 100% 78%, 0% 100%);
}

.segment-6 {
    top: 27px;
    left: 4.5px;
    width: 28px;
    height: 7px;
    
    clip-path: polygon(2% 50%, 20% 0%, 80% 0%, 98% 50%, 80% 100%, 20% 100%);
}