.home-buttons {
    
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    
    /* position: absolute;
    right: 0; */

}

.home-button-link {
    margin-left: 10px;
    display: inline-block;
}

.inner-button {
    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline: 1px solid black;
}