.usa-states-header{
    height: 143px;
    width: 271.7px;
    border: solid 1px black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.union {
    position: absolute;
    top: 0;
    left: 0;
    height: 77px;
    width: 40%;
    background-color: rgb(10, 49, 97);
    z-index: 2;
}

.usa-states-header h1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Align center to the exact middle */
    width: 100%; 
    text-align: center; 
    z-index: 3; 
    color: rgb(0, 0, 0); 

}

.stripe {
    height: 11px;
    width: 100%;
    position: absolute;
    
}

.stripe:nth-child(odd) {
    background-color: rgb(179, 25, 66);
}

.stripe:nth-child(even) {
    background-color: white;

}

.stripe:nth-child(1) { top: 0;}
.stripe:nth-child(2) { top: 11px; }
.stripe:nth-child(3) { top: 22px; }
.stripe:nth-child(4) { top: 33px; }
.stripe:nth-child(5) { top: 44px; }
.stripe:nth-child(6) { top: 55px; }
.stripe:nth-child(7) { top: 66px; }
.stripe:nth-child(8) { top: 77px; }
.stripe:nth-child(9) { top: 88px; }
.stripe:nth-child(10) { top: 99px; }
.stripe:nth-child(11) { top: 110px; }
.stripe:nth-child(12) { top: 121px; }
.stripe:nth-child(13) { top: 133px; }


.usa-states-background {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.states-card {
    width: 400px;
    height: 500px;
    border: 1px dotted dodgerblue;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 60px;
    margin-top: 50px; */
}


.states-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    
}

.states-card .card-back{
    transform: rotateY(180deg);
    margin-bottom: 50px;
}

.states-card .card-back div {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.states-input {
    font-family: 'Baskerville Old Face';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.guess-section input[type=text] {
    /* border-bottom: 2px solid rgba(251, 52, 52, 0.421);  */
    border-bottom: 2px solid black;
}

.states-input:focus {
    outline: none;
}

.states-input::placeholder{
    color: rgb(127, 127, 127);
}

.usa-states-background button {
    margin: 10px;
    background-color: rgba(255, 250, 105, 0.457);
    border: 2px solid rgb(28, 217, 246);
    /* border: none; */
    /* outline: 2px solid rgb(28, 239, 246); */
    outline: 2px dotted rgb(255, 148, 148);
    outline-offset: 2px;
    padding: 5px;
    font-size: 19px;

}

.material-symbols-outlined{
    font-size: 60px;
}