.usa-page-header {
    display: flex;
    justify-content: space-around;
    border-top: transparent solid 20px;
    align-items: center;
}

.ff-container {
    margin-right: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ff-container .material-symbols-outlined {
    outline: 3px dashed black; 
    outline-offset: -3px;
    border-radius: 50px;
    background-color: rgb(171,255,50);
    cursor: pointer;
}

.navbar-td li {
    border-bottom: solid transparent 25px;
}

.usa-states-background {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.states-card {
    width: 400px;
    height: 500px;
    border: 1px dotted dodgerblue;
    position: relative;
    overflow: hidden;
}




.states-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    cursor: pointer;
}

.states-back-content {
    position: relative;
    width: 400px;
    height: 500px;
}

.states-back-content img {

    width: 90%;
    height: 90%;
    object-fit: contain;
    
}

.states-back-text {
    
    color: rgb(0, 0, 0); /* Ensuring text is visible, choose color based on your image */
    font-size: 24px; /* Adjust size as needed */

    text-align: center;
    background-color: transparent !important;


    border-radius: 5px; /* Optional: rounded corners */
}

.states-card .card-back div {
    transform: rotateY(360deg);

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: none;
}

.states-input {
    font-family: 'Baskerville Old Face';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.guess-section input[type=text] {
    border-bottom: 2px solid rgba(251, 52, 52, 0.421); 
    /* border-bottom: 2px solid black; */
}

.states-input:focus {
    outline: none;
}

.states-input::placeholder{
    color: rgb(132, 132, 132);
}

.usa-states-background button {
    margin: 10px;
    background-color: rgba(255, 250, 105, 0.457);
    border: 2px solid rgb(28, 217, 246);
    /* border: none; */
    /* outline: 2px solid rgb(28, 239, 246); */
    outline: 2px dotted rgb(255, 148, 148);
    outline-offset: 2px;
    padding: 5px;
    font-size: 19px;

}

.material-symbols-outlined{
    font-size: 60px;
}