.usa-states-header{
    /* text-align: center; */
}

.usa-states-background {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.states-card {
    width: 400px;
    height: 500px;
    border: 1px dotted dodgerblue;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 50px;
}


.states-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    
}

.states-card .card-back{
    transform: rotateY(180deg);
    margin-bottom: 50px;
}

.states-card .card-back div{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.states-input {
    font-family: 'Baskerville Old Face';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.guess-section input[type=text]:not(.browser-default){
    border-bottom: 2px solid rgba(251, 52, 52, 0.421); 
}

.states-input::placeholder{
    color: rgb(158, 158, 158);
}

.usa-states-background button {
    margin: 5px;
    background-color: rgba(255, 250, 105, 0.457);
    border-width: 3px;
    border-style: dashed;
    border-color: rgb(246, 28, 166);
}

.material-symbols-outlined{
    font-size: 60px;
}