.top-border {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 90vmin;
    height: 90vmin;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border: 2px solid #333;

}

.chessSquareLight, .chessSquareDark {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 100%; */
    /* aspect-ratio: 1; */


}

.chessSquareLight {
    background-color: rgb(240, 217, 181);
}



.chessSquareDark {
    background-color: rgb(181, 136, 99);
}

.selectedSquare {
    border: 1px solid rgb(0, 0, 0);
    
    
}

.highlightedSquare {
    background-color: rgba(255, 255, 0, 0.971);
}

.piece {
    font-size: 75px;
    

}

.selectedSquare .piece {
    position: absolute;
    font-size: 90px;
}

.piece:hover {
    cursor: pointer;
}

/* .chessSquare {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 94px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 94px;
} */