.basketball {
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);

    /* animation-name: bounce;
    animation-duration: 8s; */
    /* animation-iteration-count: infinite; */
    /* animation: rotate 100s linear infinite; */
}

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
} */



.basketball-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
}

.line {
    position: absolute;
    background-color: black;
}

.horizontal {
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    transform: translateY(-50%);
}

.vertical {
    top: 0;
    left: 50%;
    width: 10px;
    height: 100%;
    transform: translateX(-50%);
}

.curveR {
    position: relative;
    border: 10px solid black;
    border-radius: 36%;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 97%;
    transform: translate(-50%, -117%) rotate(45deg);
    transform-origin: center;
}

.curveL {
    position: relative;
    border: 10px solid black;
    border-radius: 36%;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 97%;
    transform: translate(-50%, -84%) rotate(45deg);
} 

/* @keyframes bounce {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 200px; rotate: 90deg;}
    50% {left: 200px; top: 100px; rotate: 180deg;}
    75%{left: 300px; top: 0px; rotate: 270deg;}
    100%{left: 200px; top: 100px; rotate: 0deg;}
} */