.thought-bubble-container {
    position: relative;
    width: 400px;
    height: 400px;
}

.main-bubble {
    position: absolute;
    width: 350px;
    height: 130px;
    left: 90px;
    top: 60px;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

.main-bubble:after, .main-bubble:before {
    content:"";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.main-bubble::after {
    width: 100px;
    height: 100px;
    top: -230px;
    left: 20px;
}

.main-bubble::before {
    width: 180px;
    height: 180px;
    top: -56px;
    left: 130px;
}

.small-bubble {
    position: absolute;
    background: white;
    /* border: 3px solid black; */
    border-radius: 50%;
    /* box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ; */
}

.small-bubble.one {
    width: 40px;
    height: 40px;
    left: 20px;
    top: 220px;
    box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ;
}



.small-bubble.two {
    width: 30px;
    height: 30px;
    left: 50px;
    top: 310px;
    box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ;
}