.thought-bubble-container {
    position: relative;
    width: 400px;
    height: 400px;
}

.main-bubble {
    position: absolute;
    width: 370px;
    height: 140px;
    left: 90px;
    top: 120px;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    z-index: 1;
}

.main-bubble:after, .main-bubble:before {
    content:"";
    position: absolute;
    background: inherit;
    border-radius: inherit;
    z-index: 0;
}

.main-bubble::after {
    width: 110px;
    height: 110px;
    /* top: -230px; */
    /* left: 20px; */
    top: -41px;
    left: 65px;
}

.main-bubble::before {
    width: 150px;
    height: 170px;
    top: -62px;
    left: 151px;
}

.main-bubble-text {
    font-family: 'Courier New', Courier, monospace, "Cedarville Cursive", cursive;
    font-weight: 600;
    /* font-style: bold; */
    position: absolute;
    z-index: 2;
    top: 140px;
    left: 110px;
    width: 330px;
    text-align: center;
    font-size: 23px;
    line-height: 1;
}

.small-bubble {
    position: absolute;
    background: white;
    /* border: 3px solid black; */
    border-radius: 50%;
    /* box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ; */
}

.small-bubble.one {
    width: 40px;
    height: 40px;
    left: 20px;
    top: 220px;
    box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ;
}



.small-bubble.two {
    width: 30px;
    height: 30px;
    left: 50px;
    top: 310px;
    box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ;
}