.thought-bubble-container {
    position: relative;
    top: 40px;
    width: 400px;
    /* height: 400px; */
    margin-left: auto;
    margin-right: auto;
}

.main-bubble {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 120px;
    background: #ECEFF1;
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 100px;
    z-index: 1; 
    /* box-shadow: white 30px 10px, white 60px 15px 0 -10px, white 45px 5px 0 -5px */
}

.main-bubble:after, .main-bubble:before {
    content:"";
    position: absolute;
    background: inherit;
    border-radius: inherit;
    z-index: 0;
}

.main-bubble::after {
    width: 120px;
    height: 120px;
    top: -64px;
    left: 190px;
    box-shadow: 
    rgb(236, 239, 241) -198px 10px, 
    rgb(236, 239, 241) -230px 80px,
    rgb(236, 239, 241) -175px 130px, 
    rgb(236, 239, 241) 48px 120px,
    rgb(236, 239, 241) 120px 95px;
    /* cloud parts are made with box shadow and each value above is ordered counter-clockwise  */
}

.main-bubble::before {
    width: 160px;
    height: 160px;
    top: -70px;
    left: 70px;
    box-shadow: rgb(236, 239, 241) 36px 105px, rgb(236, 239, 241) 175px 9px;
}

.main-bubble-text {
    width: 370px;
    height: 130px;
    font-family: 'Courier New', Courier, monospace, "Cedarville Cursive", cursive;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    background: #ECEFF1;
    z-index: 2;
    top: 125px;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 100px;
}

.small-bubble {
    position: absolute;
    background: white;
    border-radius: 50%;
}

.small-bubble.one {
    width: 40px;
    height: 40px;
    left: 20px;
    top: 220px;
    box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ;
}



.small-bubble.two {
    width: 30px;
    height: 30px;
    left: 50px;
    top: 310px;
    box-shadow: 
        white 45px -15px 0 -5px,
        white 15px -25px,
        white 30px 10px,
        white 60px 15px 0 -10px,
        white 45px 5px 0 -5px
    ;
}