.snake-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100dvh;
}

.snake-scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 395px;
    justify-content: space-evenly;
}

.high-score {
    position: relative;
    text-align: center;
    /* padding: 10px; */
    background-color: white;
    border: 1px solid #000;
    width: 130px;
    height: 50px;
    line-height: 50px;
}

.high-score::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 51px;
    height: 30px;
    width: 5px;
    background-color: rgb(125, 90, 38);
    
}

.high-score::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 51px;
    height: 30px;
    width: 5px;
    background-color: rgb(125, 90, 38);
    
}
 
.snake-board{
    outline: 3px solid black;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: rgb(178, 178, 178);
    border: black dotted 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.cell.snake {
    background-color: rgb(0, 255, 34);
    background: radial-gradient(circle, rgb(0, 179, 255),rgb(0, 255, 34) 30%);
    border: solid .75px rgb(0, 0, 0);
    box-sizing: border-box;
}

.snake.down, .snake.right, .snake.left, .snake.up {
    background-image: radial-gradient(circle at top, rgb(0, 179, 255) 3px,rgb(0, 255, 34) 40%);
}

.cell.head {
    /* background: radial-gradient(circle, rgb(0, 179, 255) 3%,rgb(0, 255, 34) 45%); */
    background-color: rgb(0, 255, 34);
    border: solid .75px rgb(0, 0, 0); 
    box-sizing: border-box;
}

.cell.food {
    /* background-color: rgb(255, 219, 219); */
    font-size: x-large; 
}

.game-over {
    margin-top: 20px;
    font-size: 24px;
    color: #f00;
}

.start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    visibility: visible;
}

.start-button.hidden {
    visibility: hidden;
}

/* tongue is created with pseudo before */

.cell.head::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 2px;
    background-color:red;
    z-index: 4;
}

.cell.head.up::after {
    top: -7px;
}

.cell.head.right::after {
    height: 2px;
    width: 15px;
    right: -7px;
    bottom: 12px;
}

.cell.head.down::after {
    bottom: -9px;
}

.cell.head.left::after {
    height: 2px;
    width: 15px;
    left: -7px;
    bottom: 12px;
}

.eye, .eyeTwo {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 1px 15px 1px #636363;
    z-index: 4;
}

.eye::after, .eyeTwo::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.cell.head.up .eye {
    top: 8px;
    left: 2px;
    z-index: 4;
}

.cell.head.right .eye {
    top: -2px;
    right: 2px;
    z-index: 4;
}

.cell.head.left .eye {
    top: -2px;
    left: 2px;
    z-index: 4;
}

.cell.head.down .eye {
    left: 2px;
    bottom: 8px;
    z-index: 4;
}

.cell.head.up .eyeTwo {
    top: 8px;
    right: 2px;
}

.cell.head.right .eyeTwo {
    top: -2px;
    right: 13px;
}

.cell.head.left .eyeTwo {
    top: -2px;
    left: 13px;
}

.cell.head.down .eyeTwo {
    bottom: 8px;
    right: 2px;
}

/* .cell.snake { */
    /* background-color: rgb(0, 255, 34); */
    /* background: radial-gradient(rgb(0, 255, 34), yellow); */
    /* z-index: 3; */
    
    /* background-clip: padding-box; */
    /* position: relative; */
    /* outline: 1px black solid; */
    /* outline: solid 1px black; */
    /* border: 0.5px black solid; */
/* } */

/* .cell.snake::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(rgb(0, 179, 255),rgb(0, 255, 34));
    border: 0.75px solid black; 
    box-sizing: border-box; 
    z-index: 1;
} */

/* .cell.head { */
    /* background-color: rgb(0, 255, 34); */
    /* background: radial-gradient(rgb(0, 255, 34), yellow); */
    /* z-index: 4;  */
    /* position: relative; */
    /* background-clip: padding-box; */
    /* outline: 1px black solid; */
    /* border: 0.5px black solid; */
    /* outline: solid 1px black; */
/* } */

/* .cell.head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(rgb(0, 179, 255), rgb(0, 255, 34));
    border: 0.75px solid black; 
    box-sizing: border-box; 
    z-index: 1;
} */