label{
    color: black;
}

.submit-btn{
   font-size: 26px;
    position: relative;
    top: 42px;
    border: black 1px solid;
    text-shadow: 1px 1px rgb(96, 255, 114);
    cursor: pointer;
}

input[type="text" i] {
    line-height: 1.0;
    font-size: 18px;
}

input {
    writing-mode: horizontal-tb !important;
    font-family: 'Josefin Slab', serif;
    
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; */
    text-rendering: auto;
    color: -internal-light-dark(black, rgba(255, 255, 255, 0.221));
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 3px;
    text-shadow: none;
    display: relative;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 251, 251));
    /* left: 2px; */
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(222, 218, 218), rgb(133, 133, 133));
    border-image: initial;
}
