.home-body {
    background-color: rgb(121 231 75 / 77%);
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-header{
    font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

/* this is the index card */
.home-background {
    background-color: white;
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin-top: 5%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-width: 700px;
    height: 470px;
}

.buttons-container {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 5px;
}

#login-button, #signup-button, .home-logout {
    font-family: "Edu SA Beginner", cursive;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    border: 1px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 3px 2px 3px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(255, 229, 76);
    background-color: rgb(255, 176, 72);
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding-inline: 3px;
}

#formSignUp {
    font-size: 28px;
    top: 26px
}

.signup-header {
    font-size: 26px;
    text-shadow: 2px 2px rgb(96, 255, 114);
    font-family: "Edu SA Beginner", cursive;
    font-weight: 400;
    font-optical-sizing: auto;
}

.home-background button {
    cursor: pointer;
    z-index: 3;
}

.red-line {
    width: 100%;
    height: 2px;
    background-color: rgba(251, 52, 52, 0.518);
    margin-top: 10px;
}

.blue-line {
    width: 100%;
    height: 1.75px;
    background-color: rgb(0, 115, 255, 0.3);
    margin-top: 20px;
}

.line-container {
    width: 100%;
    
    display: block;
}


/* .home-background {
    background-color: white;
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-width: 700px;
} */

/* .red-line {
    width: 100%;
    height: 2px;
    background-color: rgba(251, 52, 52, 0.518);
    margin-top: 65px;
} */