.home-body {
    /* background-color: rgb(114 255 55 / 77%); */
    background-color: rgb(255 251 119 / 77%);
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logout{
    /* outline: rgb(6, 6, 6) solid 1px; */
    /* border: rgb(0, 0, 0) solid 1px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0px;
    border-radius: 50px;
    background-color: rgb(49, 145, 255);
    background-color: rgb(253, 71, 47);
    /* background-color: rgb(114 255 55); */
    height: 50px;
    width: 50px;
    font-size: 28px;
    /* letter-spacing: 1px; */
    position: absolute;
    top: 8px; 
    right: 12px;
}

.home-header {
    text-align: center;
    font-size: 96px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    transform: translateY(36px);
    font-weight: bold;
}

.emoji{
    font-size: 35px;
    transform: translateY(-36px);
}

.home-container {
    min-width: 700px;
}

.home-background {
    background-color: white;
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10px;
}

.home-background button{
    cursor: pointer;
    z-index: 3;
}

button {
    cursor: pointer;
}

.red-line {
    width: 100%;
    height: 2px;
    background-color: rgba(251, 52, 52, 0.518);
    margin-top: 65px;
}

.blue-line {
    width: 100%;
    height: 1.75px;
    background-color: rgb(0, 115, 255, 0.3);
    margin-top: 20px;
}

.line-container {
    width: 100%;
    
}
