#wpm-main {
    height: 100vh;
    height: 98vh;
    width:98vw;
    height: 100vh;
    width: 100vw;
    background-color: rgb(254 161 107); 
}

/* Green Index Card until line ~51*/
#wpm-header {
    font-family: Courier, serif;
    background-color: rgb(130, 255, 159);
    text-align: center;
    display: inline-block;
    width: 350px;
    height: 207px;
    position: relative;
    top: 45px;
    left: 45px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#wpm-header h1{
    position: relative;
    top: 6px;
    font-size: 38px;
    margin: 6px;
    font-weight: lighter;
}

#wpm-header-body {
    position: relative;
    font-size: 10px;
    align-content: center;
}


#wpm-header-body p {
    margin-top: 1px;
    margin-left: auto;
}

#wpm-header-redline {
    position: relative;
    top: 0px;
    margin-bottom: 25px;
    background-color: rgba(251, 52, 52, 0.518);
    width: 100%;
    height: 2px;
}

.wpm-header-blue {
    margin-bottom: 3px;
    background-color: rgb(0 115 255 / 19%);
    height: 2px;
}
/* end of green index card */

/* orange index card */
#wpm-index {
    position: relative;
    width: 670px;
    height: 440px;
    margin: 0 auto;
    padding: 20px 0;
    top: -25px;
    font-family: Courier, monospace;
    background-color: rgb(253, 221, 90);
    text-indent: 24px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#wpm-index-header {
    height: 70px;
}

#wpm-index-header p {
    font-size: 19px;
    position: absolute;
    top: 19px;
}

#timer-display {
    position: absolute;
    top: 25px;
    right: 15px;
}

/* h2 here is the word to type */
#wpm-index h2 {
    font-size: 26px;
    position: absolute;
    left: 0px;
    margin-top: 38px;
}

#wpm-redline {
    background-color: rgba(251, 52, 52, 0.518);
    height: 2px;
    position: relative;
    top: 10px;
}

#wpm-main-body {
    display: relative;
}

#wpm-input {
    width: 85%;
    margin: auto;
    position: relative;
    top: 21px;
    left: 25px;
    font-family: Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 2px;
}

#wpm-input::placeholder {
    font-family: Courier, monospace;
}

#wpm-input input[type=text] {
    font-size: 18px;
}

#wpm-index-body h4 {
    font-size: 23px;
    font-weight: lighter;
    margin-top: 5px;
    position: absolute;
}

#wpm-score {
    font-size: 23px;
    margin-top: 5px;
    position: absolute;
}

#play-again {
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
}

.wpm-blue-line {
    background-color: rgba(0, 115, 255, 0.19);
    height: 2px;
    margin-top: 30px;
}
/* end of orange index card */

#wpm-navbar {
    background-color: white;
    width: 350px;
    height: 207px;
    position: absolute;
    top: 10px;
    right: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#wpm-navbar nav {
    font-size: 15px;
    top: 55px;
    left: -20px;
    

}

#wpm-navbar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#wpm-navbar nav li {
   margin-bottom: 45px;
   margin-right: 35px;
   margin-left: 5px;
   
}


