.simon-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.color-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
}

.color {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.coloryellow {
    background-color: rgba(255, 255, 0);
    filter: brightness(0.9);
}

.colorblue {
    background-color: rgba(0, 0, 255);
    filter: brightness(0.9);
}

.colorgreen {
    background-color: rgba(0, 128, 0);
    filter: brightness(0.8);
}

.colorred {
    background-color: rgba(255, 0, 0);
    filter: brightness(0.8);
}
.coloryellow:hover,
.colorblue:hover,
.colorgreen:hover,
.colorred:hover {
    filter: brightness(2);
}

.coloractive {
    filter: brightness(1.5);
}

.color {
    filter: brightness(0.5);
}

.controls {
    margin-top: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
}

.controls p {
    margin-top: 10px;
    font-size: 18px;
}