.simon-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.color-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
}

/* .color {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.coloryellow {
    background-color: rgb(207, 207, 65);
    filter: brightness(0.9);
}

.colorblue {
    background-color: rgba(0, 0, 182);
    height: 150px;
    width: 150px;
    /* position: relative; */
    /* transform: rotate(45deg); */
    filter: brightness(0.9);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
}

/* .colorblue {
    background-color: rgba(0, 0, 182);
    height: 150px;
    width: 150px;
    position: relative;
    transform: rotate(45deg);
    filter: brightness(0.9);
} */

/* .colorblue::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    background-color: inherit;
    z-index: -1;
} */

.colorgreen {
    background-color: rgba(0, 128, 0);
    filter: brightness(0.9);
}

.colorred {
    background-color: rgb(197, 0, 0);
    filter: brightness(0.9);
}
.coloryellow:hover,
.colorblue:hover,
.colorgreen:hover,
.colorred:hover {
    filter: brightness(2);
}

.coloractive {
    filter: brightness(1.5);
}

.color {
    filter: brightness(0.5);
}

.controls {
    margin-top: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
}

.controls p {
    margin-top: 10px;
    font-size: 18px;
}