#landing {
    /* height: 80dvh; */
    width: 96%;
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding-top: 20px;
    border: 3px solid rgba(232, 232, 232, 0.79);
}

.landing-header{
    font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 115px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: rgb(50, 50, 50);
    
}

.landing-redLine{
    border-top: 2px solid rgba(251, 52, 52, 0.421);
    position: relative;
    top: -10px;
    z-index: -1;
}

.landing-lines{
    position: relative;
}

.landing-background{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#login{
    font-style: normal;
    font-size: 70px;
    cursor: pointer;
}

#login-button-active {
    text-shadow: 2px 2px lightskyblue;
}

.signup-active{
    text-shadow: 2px 2px rgb(96, 255, 114);
}

#login-button:hover{
    transform: scale(1.25);
}

.login-container, .signUp-container {
    position: relative;
}

.loginPopup, .signUpPopup{ 
    height: 408px;
    width: auto;
    min-width: 390px;
    position: absolute;
    top: 154%;
    left: 10%;
    transform: translateX(-51%);
    z-index: 3;
    font-family: "Edu SA Beginner", cursive;
    font-weight: 400;
    font-optical-sizing: auto;
} 

#signUp{
    font-size: 70px;
    cursor: pointer;
    
}

.close {
    position: relative;
    top: -60px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    font-size: 55px;
    /* font-family: 'roboto'; */
    float: right;
    font-family: "Edu SA Beginner", cursive;
    font-weight: 400;
    font-optical-sizing: auto;
}

#signUp:hover{
    transform: scale(1.25);
}



@media (max-width: 1200px) {
    .landing-header {
        font-size: 90px; /* Smaller screen, smaller font */
    }

    #login, #signUp {
        font-size: 55px;
    }
}

@media (max-width: 768px) {
    .landing-header {
        font-size: 70px; /* Even smaller screen, even smaller font */
    }

    #login, #signUp {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .landing-header {
        font-size: 50px; /* Very small screen, very small font */
    }

    #login, #signUp {
        font-size: 40px;
    }
}