.pokemon-decks-container {
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    position: relative;
}

.pokemon-decks {
    display: flex;
    will-change: transform; 
    transition: transform 0.5s ease;
}

.pokemon-card {
   
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    margin: auto 15px;
    border: 2px dashed black;
    padding: 10px;
}

.pokemon-card-active {
    transform: scale(1.2);
    /* opacity: 1; */
    cursor: pointer;
}

.card:not(.pokemon-card-active) {
    pointer-events: none;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    
}

.carousel-controls button {
    padding: 10px;
}