.my-cards-page {
    background-color:darkolivegreen;
    height: 100vh;

}

#mcp-buffer {
    height: 30px;
}

#my-cards-header {
    font-size: 45px;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

#my-cards-chalkboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.866);
    border: 6px solid rgb(193, 154, 107);
    padding: 15px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    height: 400px;
    width: 400px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    color: rgba(255, 255, 102, 0.952);
    color: white;
    position: relative;
    left: 20px;
}

#mcp-home {
    color: rgb(243,149,57);
}

#mcp-card-create {
    color: yellow;
}

#mcp-trivia {
    color: hotpink;
}

#mcp-games {
    color: rgb(57, 255, 20);
}

#my-cards-chalk {
    width: 49px;
    height: 12px;
    background-color: rgba(255, 255, 102, 0.852);
    border-radius: 3px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: -28px;
    left: 355px;
}

#my-cards-chalk::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%);
    background-size: 15px 15px;
    opacity: 0.95; 
    border-radius: 3px;
}

#my-cards-corkboard {
    width: 420px;
    height: 300px;
    background: url('../../assets/cork_board.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

#navbar-msc {
    margin: 20px;
}

#navbar-msc a {
    line-height: 1.55; 
    font-size: calc(8px + 1vw); 
    
}

#navbar-msc ul{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 5px;
    list-style-type: none;
    font-family: "Cedarville Cursive", cursive;
    font-size: calc(10px + 1vw);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: grid;
    
}

#navbar-msc span.highlighted {
    width: 75px;
    height: 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    float: left;
    margin: 8px;
    border: 1px solid rgba(0,0,0,.25) !important; 
    border-radius: 0px;
    font-size: calc(1px + 1vw); 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #navbar-msc li::before {
    content: "📍"
} */


#my-cards-header-p {
    font-size: 16px;
    color: rgba(84, 221, 255, 0.9); 
    color: rgb(139, 226, 255);
}

.my-cards-carousel {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    
}

.my-cards-container {
    border: solid black 1px;
    cursor: pointer;
    height: 100px;
    width: 200px;
    background-color: white;
    /* padding: 5px; */

}

.my-cards-container .card-back, .card-front {
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-cards-wood {
    text-align: center;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
}

/* .studyCardsFallback {

} */

/* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */