.my-cards-carousel {
    margin: 20px;
    display: flex;
    gap: 20px;
}

.my-cards-container {
    border: dashed black 2px;
    cursor: pointer;
    height: 100px;
    width: 200px;
    padding: 5px;

}

.my-cards-container .card-back {
    /* transform: scaleX(-1); */
    height: 100px;
    width: 200px;
   
    /* display: inline-block; */
}