.arcade-main {
    position: relative;
    margin: 50px auto;
    width: 400px;
}

.gameboy-canvas {
    border-bottom-right-radius: 54px;
    border: 1px solid rgb(77, 77, 77);
}

.arcade-header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: yellow;
    font-size: 34px;
    border: dotted yellow 3px;
    padding: 4px;
}

.games-list {
    position: absolute;
    top: 82px;
    left: 52px;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    background-color: black;
    width: 300px;
    height: 200px;
}

.games-list li {
    font-family: 'Press Start 2P';
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.selected-game {
    color: yellow;
    font-size: 22px;
}

a.game-link {
    color: white;
}

.a-button {
    position: absolute;
    left: 300px;
    top: 450px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkred;
    color:blueviolet;
    font-size: 20px;
    border: rgb(73, 73, 73) .1px solid;
}

.b-button {
    position: absolute;
    left: 250px;
    top: 470px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkred;
    color:blueviolet;
    font-size: 20px;
    border: rgb(73, 73, 73) .1px solid;
}