.arcade-main {
    position: relative;
    margin: 50px auto;
    width: 400px;

}

.arcade-header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* font-family: "ArcadeFont"; */
    color: yellow;
    font-size: 34px;
    border: dotted yellow 3px;
    padding: 4px;
}

.a-button {
    position: absolute;
    left: 300px;
    top: 450px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkred;
    color:blueviolet;
    font-size: 20px;
    border: white .1px solid;
}

.b-button {
    position: absolute;
    left: 250px;
    top: 470px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkred;
    color:blueviolet;
    font-size: 20px;
    border: white .1px solid;
}