.fd-game {
    /* position: relative; */
    width: 400px;
    height: 700px;
    background-color: #675f5f;
    margin: auto;
}

.ball {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

.floor {
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: white;
}

/* .fd-game {
    position: relative;
    width: 400px;
    height: 700px;
    background-color: #000;
    margin: auto;
}

.ball {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

.floor {
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: white;
} */