.trivia-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.trivia-header {
    margin: 20px 0;
}

.trivia-carousel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    position: relative;
}