.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

/* these are the three individual carousel card displays */
.trivia-carousel > div:nth-child(-n+3) {
    position: absolute;
    height: 300px;
    width: 375px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.trivia-item img{
    height: auto;
    width: 100%;
}



