.trivia-page {
    height: 100dvh;
    width: auto;
}

.trivia-header h1{
    font-size: 50px;
}

.trivia-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    /* height: 50dvh; */
    position: relative;
    transform: translateY(40%);
}

.t-card {
    
    width: 350px;
    height: 300px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-bottom: solid lightskyblue 2px;
    border-top: solid rgb(255, 0, 0) 2px;
    
}

.trivia-item {
    position: relative;
}

.trivia-item img {
    height: auto;
    width: 100%;
}

.t-card.left {
    transform: translate(-70%, 0) scale(0.8);
    opacity: 0.5;
    z-index: 1;

}

.t-card.center {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    z-index: 2;
    background-color: white;
}

.t-card.right {
    transform: translate(70%, 0) scale(0.8);
    opacity: 0.5;
    z-index: 1;
}

.carousel-indicators {
    position: relative;
    top: 45%;
    width: auto;
    display: flex;
    /* justify-content: center; */
    /* transform: translateY(-50%); */
    align-items: center;
}



.left-button,
.right-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    padding: 10px;
}

.component-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}