.loginPopup-inner{
    padding: 3px;
}

/* #loginHead{
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-size: 54px;
    position: relative;

} */

#formLogin, #formSignUp{
    line-height: 1.5;
    font-size: 34px;
    position: relative;
    top: 32px;
    text-decoration: underline solid black 2px;
    text-underline-offset: 4px;
}

.login-btn{
  
    position: relative;

    top: 5px;
    font-size: 30px;
    cursor: pointer;
}

input[type=text]:not(.browser-default) {
    border-bottom: 2px solid rgb(0, 0, 0);
}