.loginPopup-inner{
    padding: 3px;
}

#formLogin, #formSignUp{
    line-height: 1.45;
    font-size: 32px;
    position: relative;
    top: 26px;
}

.login-btn{
    position: relative;
    top: 5px;
    font-size: 27px;
    cursor: pointer;
    text-shadow: 1px 1px lightblue;
}