.loginPopup{ 
    height: 425px;
    width: auto;
    min-width: 430px;
    /* background-image: url(../../assets/dinoSticky.png);
    background-repeat: no-repeat;
    background-size: contain; */
} 

.loginPopup-inner{
    padding: 3px;
}

#loginHead{
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    
    font-size: 54px;
    text-decoration: overline underline dotted black 1px;
    position: relative;

}

#formLogin{
    line-height: 2.5;
    font-family: 'Josefin Slab', serif;
    font-weight: 585;
    font-size: 34px;
    position: relative;
    bottom: 32px;
    right: -21px;
    text-decoration: underline dotted black 2px;
}

input {
    background-color: white;
}

.login-btn{
    font-family: 'Josefin Slab', serif;
    position: relative;
    left: 138px;
    top: -5px;
    text-decoration: underline dotted black 2px;
    font-size: 54px;
    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.25);
}

input[type=text]:not(.browser-default) {
    border-bottom: 2px solid rgb(0, 0, 0);
}