.navbar-home {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.nav-list li:first-child {
  margin-top: 75px;
}
.nav-list li{
  
  margin-bottom: 25px;
}

/* .navbarMain {
  display: flex;
  height: 1000px;
  float: left;
  width: 25%;
  align-items: center;
  position: fixed;
  transform: translateX(-20%);
} */

/* .marker:hover {
  transition: 1.2s;
  transform: translateX(50px);
} */
