.navbar-home{
  font-family: "Edu SA Beginner", cursive;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 32px;
  position: absolute;
  width: 100%;
  padding-inline-start: 10px;
  margin-inline-start: 20px;
  top: 120px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  
}

.nav-list li{
  list-style-type: decimal;
  margin-bottom: 50px;
}

a:-webkit-any-link {
  color:black;
  text-decoration: none;
}

.highlighted {
  padding: 8px 9px;
  border-radius: 8px;
}
